
<h1>About</h1>

	<p>
		<%= link_to "The Affiliation Empowerment Summit", "http://onemonthrails.com" %>
		is a gathering of Baptiste Yoga Inspired and Affiliate Studios dedicated to learning, elevating and creating the future of 
		<%= link_to "Baptiste Yoga", "http://baptisteyoga.com" %>.  
		This is the sample application by Chris Lucas.
	</p>
