<%= render 'layouts/header' %> 
<h1>Who's Who that's Here.</h1>

	<p>
		An <%= link_to "Attendee Directory", "http://baptisteyoga.com" %>
		would naturally go here<br>
		<br>
		

		This is the sample application by Chris Lucas.
	</p>