<div class="hero-unit">

	<h1>Welcome to the Affiliation Empowerment Summit 2013</h1>
	<p>
		You found the homepage for the 
		<%= link_to "AES 2013", "http://baptisteyoga.com" %>
		application.
	</p>

	<p>
		<%= link_to "Sign Up Now!", "#", class: "btn btn-primary btn-large" %>

</div>
